*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/BANNER_WORDPRESS_0.webp);
}

.header{
    background-color:#633098 ;
}
.header .student{
    width:75px;
}
.header .nav .nav-item{
    padding:5px 10px;
}
.header .nav .nav-item .nav-link{
    color:#fff;
    font-size: 1rem;
    font-weight: 500;
}
.header .nav .nav-item:hover{
    background-color: cornflowerblue;
    border-radius: 5px;
}
.sidebar{
    z-index: 10;
    position: fixed;
    top:0;
    left:0;
    width:300px;
    height:100vh; 
    background-color:#633098;
    transform: translateX(-300px);   
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.sidebar .nav{
    position: absolute;
    top:20%;
    left:10%;
}
.btn{
    cursor: pointer;
    box-shadow: 0;
}
.btn span{
    width:45px;
    height: 4px;
    background: #fff;
    display: block;
    margin-top: 4px;
}
.sidebar.open{
    transform: translateX(0px);
}

.section .card-body ul li .fa-brands{
    font-size: 25px;
    padding:10px 20px;
    background-color: #633098;
    color:#fff;
    border-radius: 5px;
}
.section .card-body ul li .fa-solid{
    font-size: 25px;
    padding:10px 20px;
    background-color: #633098;
    color:#fff;
    border-radius: 5px;
}

@media  screen and (max-width:768px) {
    .header #menu-item{
       display: none;
    }
}

@media screen and (max-width:400px) {
    .header .menu{
        display: visible;
    }
    .header .sidebar .nav{
       margin-top:40px;
    }
}