<div class="container">
    <div class="row py-2">
        <div class="col">
            <h1 class="text-white">ABOUT</h1>
        </div>
    </div>
    <div class="row g-3" id="PostContainerAbout"></div>
</div>

<template id="Templatecard">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h2>ABOUT</h2>
                <p class="card-title">Card title</p>
                <h4>Language</h4>
                <span>Language</span>
                <hr>
                <h4>Career</h4>
                <span id="one">Career</span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4>Education</h4>
                <h6 id="h1">one</h6>
                <h6 id="h2">one</h6>
                <h6 id="h3">one</h6>
                <hr>
                <h6 id="h4">one</h6>
                <h6 id="h5">one</h6>
                <h6 id="h6">one</h6>
                <hr>
                <h6 id="h7">one</h6>
                <h6 id="h8">one</h6>
                <h6 id="h9">one</h6>
                <hr>
                <h6 id="h10">one</h6>
                <h6 id="h11">one</h6>
                <h6 id="h12">one</h6>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4>RESUME</h4>
                <a href="images/prasad.resume.pdf">
                    <button class="btn btn-primary" download>Resume Download</button>
                </a>
            </div>
        </div>
    </div>
</template>