

    <div class="container">
        <div class="row py-2">
            <div class="col">
                <h1 class="text-white">Accomplishments</h1>
                <h4 class="text-white">Online Profile</h4>
                <h6 class="text-white">GitHub</h6>
            </div>
            <div class="col-auto"> <img src="images/front-end-developer-4830933-4041850.webp" class="img-fluid"/></div>
        </div>
        <div class="row g-3" id="postContainerAccomplishment"></div>
    </div>
    <template id="templatecard">
        <div class="col-md-6">
            <div class="card ">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <a class="link-offset-2">Click link</a>
                    <h6 class="text-muted">duration</h6>
                    <span>uploaded</span>
                </div>
            </div>
        </div>
    </template>
