 
    <div class="container">
        <div class="row py-2">
            <div class="col">
                <h1 class="text-white">Skills</h1>
                <div class="col-4"><img src="images/front-image_2x_d72a7834a090d3018dc40c986f1ff53a-1-optimized.png"
                        class="img-fluid" /></div>
            </div>
        </div>
        <div class="row g-3" id="postContainerSkills"></div>
    </div>
    <template id="templatecard">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <img class="img-fluid" width="20px" />
                </div>
            </div>
        </div>
    </template>
 